<section
  class="flex flex-col gap-y-8 p-app-secondary-padding bg-app-accent-lighter lg:pb-[7rem] lg:flex-row xl:px-app-primary-padding xl:pt-app-primary-padding"
>
  <div class="w-full lg:pr-4 lg:w-[35%]">
    <h1
      class="text-2xl leading-[42px] font-semibold tracking-[1.25px] text-app-primay-dark sm:leading-[52px] sm:text-3xl lg:text-4xl lg:leading-[62px]"
    >
      Vous vous posez encore des question?
      <div
        class="inline-block scale-x-[-1] -rotate-12 lg:scale-x-0 lg:-rotate-0"
      >
        <app-curved-arrow />
      </div>
    </h1>

    <h2
      class="pt-4 text-xl font-medium text-app-primay-dark lg:text-2xl lg:pb-8 xl:pt-6 xl:pb-14"
    >
      Pourquoi choisir Vendiiko ?
    </h2>

    <div
      class="hidden grid-cols-1 w-fit text-xl gap-8 mx-auto lg:grid xl:text-2xl xl:gap-12"
    >
      <app-primary-button
        [buttonData]="{
          name: 'Essai gratuit',
          href: '/register',
          behaviour: 'link'
        }"
      />

      <!-- <app-secondary-button -->
      <!--   [buttonData]="{ -->
      <!--     name: 'Demander une démo', -->
      <!--     action: scrollToAncherHandler('request-demo-section'), -->
      <!--     behaviour: 'button' -->
      <!--   }" -->
      <!-- /> -->

      <a
        href="https://calendly.com/contact-vjuv/30min"
        target="_blank"
        class="block text-center bg-[rgba(235,227,254,1)] border border-solid border-[rgba(32,0,229,0.2)] relative w-full tracking-[1.25px] px-[2em] py-[0.5em] rounded-[10px] font-medium text-customInherit text-app-highlight-dark transition-colors duration-300 ease-out hover:text-white hover:bg-app-accent-light"
        >Demander une démo</a
      >
    </div>
  </div>

  <div class="w-full lg:w-[65%] lg:pl-4">
    @defer (on viewport) {
      <ul class="cards-list flex flex-col gap-4 sm:gap-6">
        <li
          class="flex items-center bg-white py-3 rounded-lg text-sm gap-3 px-4 sm:px-6 sm:gap-4 sm:text-lg"
          style="--item-index: 0"
        >
          <img
            src="assets/icons/user-icon.jpg"
            alt="User icon"
            width="50"
            height="50"
          />
          <span
            >Nous plaçons nos utilisateurs, c'est-à-dire vous, au cœur de nos
            priorités.</span
          >
        </li>

        <li
          class="flex items-center bg-white py-3 rounded-lg text-sm gap-3 px-4 sm:px-6 sm:gap-4 sm:text-lg"
          style="--item-index: 1"
        >
          <img
            src="assets/icons/strategy-icon.jpg"
            alt="Strategy icon"
            width="50"
            height="50"
          />
          <span
            >Nous concilions stratégie commerciale et protection de vos revenus
            avec une attention particulière.</span
          >
        </li>

        <li
          class="flex items-center bg-white py-3 rounded-lg text-sm gap-3 px-4 sm:px-6 sm:gap-4 sm:text-lg"
          style="--item-index: 2"
        >
          <img
            src="assets/icons/team-icon.jpg"
            alt="Team icon"
            width="50"
            height="50"
          />
          <span
            >Nous rendons la coopération entre vos différentes équipes plus
            aisée et fluide.</span
          >
        </li>

        <li
          class="flex items-center bg-white py-3 rounded-lg text-sm gap-3 px-4 sm:px-6 sm:gap-4 sm:text-lg"
          style="--item-index: 3"
        >
          <img
            src="assets/icons/time-icon.jpg"
            alt="Time icon"
            width="50"
            height="50"
          />
          <span
            >Nous optimisons les processus pour accélérer les tâches et
            économiser du temps pour tous.</span
          >
        </li>

        <li
          class="flex items-center bg-white py-3 rounded-lg text-sm gap-3 px-4 sm:px-6 sm:gap-4 sm:text-lg"
          style="--item-index: 4"
        >
          <img
            src="assets/icons/protection-icon.jpg"
            alt="Protection icon"
            width="50"
            height="50"
          />
          <span
            >Nous sommes intransigeants sur la protection et la sécurité de vos
            données.</span
          >
        </li>
      </ul>
    } @placeholder {
      <div></div>
    }
  </div>

  <div
    class="grid grid-cols-1 gap-6 w-fit text-sm sm:text-lg mx-auto sm:grid-cols-2 lg:hidden"
  >
    <app-primary-button
      [buttonData]="{
        name: 'Essai gratuit',
        href: '/register',
        behaviour: 'link'
      }"
    />

    <app-secondary-button
      [buttonData]="{
        name: 'Demander une démo',
        action: scrollToAncherHandler('request-demo-section'),
        behaviour: 'button'
      }"
    />
  </div>
</section>
