<section
  class="p-app-secondary-padding xl:p-app-primary-padding"
  id="request-demo-section"
>
  <div
    class="relative flex flex-col-reverse items-center overflow-hidden lg:flex-row"
  >
    <div class="w-full lg:w-[45%]">
      <app-demo-request-form />
    </div>

    <div
      class="flex items-center w-full h-[400px] relative bg-transparent lg:w-[55%] lg:h-full"
    >
      <h1
        class="px-2 max-w-[540px] mx-auto text-center font-semibold leading-[42px] tracking-[1.25px] text-app-primay-dark text-xl sm:leading-[62px] sm:text-3xl"
      >
        Démonstration 100% gratuite & sans engagement
      </h1>

      <img
        src="assets/images/girl-with-laptop.jpg"
        alt="Girl with laptop"
        width="1273"
        height="696"
        class="block z-[-1] absolute lg:-right-32 top-0 object-cover h-full w-full lg:hidden"
      />
    </div>

    <img
      src="assets/images/girl-with-laptop.jpg"
      alt="Girl with laptop"
      width="1273"
      height="696"
      class="hidden z-[-1] absolute lg:-right-32 top-0 object-cover h-full w-full lg:block"
    />
  </div>
</section>
