<div class="card">
  <div class="card-header">
    <h2 class="card-title">Recent Users</h2>
    <button class="action-btn bg-[#4a5568] rounded-md hover:bg-gray-500">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="20"
        width="20"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
      </svg>
    </button>
  </div>

  <div class="card-content">
    <div *ngFor="let user of recentUsers" class="user-item">
      <div class="user-profile">
        <div class="user-avatar">
          <img [src]="user.profileImg" alt="User" />
          <span class="status-indicator" [ngClass]="user.status"></span>
        </div>
        <div class="user-info">
          <div class="user-name">{{ user.name }}</div>
          <div class="user-email">{{ user.email }}</div>
        </div>
      </div>

      <div class="user-details">
        <div class="role-badge">{{ user.role }}</div>
        <div class="last-active">{{ user.lastActive }}</div>
      </div>

      <div class="user-actions">
        <button class="icon-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="20"
            width="20"
            viewBox="0 0 24 24"
            fill="currentColor"
          >
            <path
              d="M12 6.5q-.625 0-1.062-.438Q10.5 5.625 10.5 5t.438-1.062Q11.375 3.5 12 3.5t1.063.438Q13.5 4.625 13.5 5t-.437 1.062Q12.625 6.5 12 6.5Zm0 5q-.625 0-1.062-.438Q10.5 10.625 10.5 10t.438-1.062Q11.375 8.5 12 8.5t1.063.438Q13.5 9.375 13.5 10t-.437 1.062Q12.625 11.5 12 11.5Zm0 5q-.625 0-1.062-.438Q10.5 15.625 10.5 15t.438-1.062Q11.375 13.5 12 13.5t1.063.438Q13.5 14.625 13.5 15t-.437 1.062Q12.625 16.5 12 16.5Z"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <button class="view-all-btn">
      <span>View All Users</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="20"
        width="20"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path d="M10 17l5-5-5-5v10z" />
      </svg>
    </button>
  </div>
</div>
