<main>
  <section class="relative p-app-secondary-padding xl:p-app-primary-padding">
    <div class="relative max-w-[870px] mx-auto text-center">
      <h1 class="font-bold text-app-primay-dark text-3xl lg:text-4xl">FAQ</h1>
      <p
        class="text-sm text-app-primay-dark leading-6 lg:leading-10 lg:text-lg pt-4 xl:pt-8"
      >
        Trouvez rapidement les réponses à vos questions avec notre FAQ complète
        et facile à naviguer
      </p>
      <app-flying-plus type="normal" />
      <app-flying-plus type="gradiant" />
    </div>

    <form class="mt-20 sm:mt-40 lg:mt-56" [formGroup]="questionForm">
      <label
        for="question-input"
        class="font-medium text-lg text-app-primay-dark lg:text-[22px]"
        >Vous avez des questions ? Demandez-nous.</label
      >
      <div class="mt-4 sm:mt-6">
        <input
          type="text"
          placeholder="Tapez votre category ici..."
          name="question-input"
          id="question-input"
          class="text-app-primay-dark text-sm w-full p-4 rounded-lg bg-[rgba(235,227,254,1)] outline-none placeholder:text-app-primay-dark placeholder:opacity-60 placeholder:font-normal placeholder:text-sm sm:placeholder:text-xl sm:text-lg sm:p-6"
          formControlName="questionInput"
          style="box-shadow: rgba(235, 227, 254, 0.16) 0px 1px 4px"
        />
      </div>
    </form>

    <ul class="flex flex-col gap-4 sm:gap-8 mt-8 sm:mt-12 lg:mt-14">
      @if (filteredCategories) {
        @for (category of filteredCategories; track category.id) {
          <app-faq-category-component
            [selectedCategories]="selectedCategories"
            [selectedQuestions]="selectedQuestions"
            [category]="category"
            [searchQuery]="searchQuery"
            (selectCategoryEvent)="selectCategory($event)"
            (selectQuestionEvent)="selectQuestion($event)"
          />
        }
      } @else {
        @for (category of categories; track category.id) {
          <app-faq-category-component
            [selectedCategories]="selectedCategories"
            [selectedQuestions]="selectedQuestions"
            [category]="category"
            [searchQuery]="searchQuery"
            (selectCategoryEvent)="selectCategory($event)"
            (selectQuestionEvent)="selectQuestion($event)"
          />
        }
      }
    </ul>

    @if (filteredCategories !== null && filteredCategories.length === 0) {
      <div class="flex items-center gap-4 flex-col w-fit mx-auto">
        <h3 class="font-medium text-app-primay-dark text-3xl text-center">
          Aucune réponse trouvée
        </h3>
        <p class="text-center font-normal text-app-primay-dark text-lg">
          Reformuler la question pourrait aider.
        </p>
      </div>
    }
  </section>

  <!-- question mark image -->
  <span
    class="absolute right-0 z-[-1] text-[100px] top-24 sm:text-[200px] lg:text-[300px] lg:top-44"
  >
    <app-faq-question-mark-image />
  </span>
</main>
