<!-- scroll-button.component.html -->
@if (isBrowser()) {
  <button
    (click)="toggleScroll()"
    class="scroll-button"
    [class.scroll-up]="!isAtTop()"
    aria-label="Scroll button"
  >
    <svg 
      xmlns="http://www.w3.org/2000/svg" 
      viewBox="0 0 24 24" 
      fill="none" 
      stroke="currentColor" 
      stroke-width="2" 
      stroke-linecap="round" 
      stroke-linejoin="round"
    >
      <polyline [attr.points]="isAtTop() ? '6 9 12 15 18 9' : '18 15 12 9 6 15'"></polyline>
    </svg>
  </button>
}