<section
  class="p-app-secondary-padding lg:pb-[5rem] xl:pt-app-primary-padding xl:px-app-primary-padding"
>
  <h1
    class="text-app-primay-dark text-2xl leading-[42px] font-bold sm:leading-[52px] sm:text-3xl lg:leading-[62px] lg:text-4xl"
  >
    Commencez avec l’essai gratuit
  </h1>
  <p
    class="text-sm text-app-primay-dark leading-6 lg:leading-10 lg:text-lg pt-4 xl:pt-8"
  >
    Obtenez des plans incroyables basés sur l’utilisateur avec des prix plus
    simples.
  </p>
  <!-- steps -->
  @defer (on viewport) {
    <div class="mt-8 lg:mt-16">
      <ul
        class="steps items-center justify-center grid gap-4 grid-cols-1 sm:grid-cols-2 lg:gap-0 lg:flex"
      >
        <li
          class="even flex flex-col items-center gap-4 flex-1"
          style="--item-index: 0"
        >
          <div>
            <img
              src="assets/svg/free-trial-signup.svg"
              alt="Free trial sign up"
              width="124"
              height="121"
            />
          </div>
          <h4 class="font-semibold text-[rgba(70,82,89,1)] text-lg text-center">
            Enregistrez-vous
          </h4>
          <p class="text-sm font-light text-[rgba(66,61,61,1)] text-center">
            Commencez par vous inscrire en ouvrant un compte
          </p>
        </li>
        <!-- line -->
        <li class="flex-1 transform -translate-y-24 hidden lg:block">
          <svg
            class="w-full"
            viewBox="0 0 300 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g class="line-arrow-group">
              <path
                class="line line-1"
                opacity=".5"
                d="M1 27.945c42-20.333 144.5-48.8 218.5 0"
                stroke="#362E75"
                stroke-dasharray="2 2"
                stroke-width="1%"
              />
              <path
                opacity=".5"
                d="M225.368 31.3a.5.5 0 0 1-.436.749l-6.649-.026a.5.5 0 0 1-.43-.751l3.347-5.746a.5.5 0 0 1 .866.003l3.302 5.772Z"
                fill="#362E75"
                stroke-width="1%"
                class="arrow arrow-1"
              />
            </g>
          </svg>
        </li>
        <!-- line -->

        <li
          class="odd flex flex-col items-center gap-4 flex-1"
          style="--item-index: 1"
        >
          <div>
            <img
              src="assets/svg/free-trial-demo.svg"
              alt="Free trial sign up"
              width="124"
              height="121"
            />
          </div>
          <h4 class="font-semibold text-[rgba(70,82,89,1)] text-lg text-center">
            Demandez une démo
          </h4>
          <p class="text-sm font-light text-[rgba(66,61,61,1)] text-center">
            Envoyez-nous votre demande de démo spéci
          </p>
        </li>

        <!-- line -->
        <li class="flex-1 transform -translate-y-12 hidden lg:block">
          <svg
            viewBox="0 0 300 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g class="line-arrow-group">
              <path
                opacity=".5"
                d="M1 12c47.478 20.375 163.348 48.9 247 0"
                stroke="#362E75"
                stroke-dasharray="2 2"
                class="line line-2"
                stroke-width="1%"
              />
              <path
                opacity=".5"
                d="M253.368 8.7a.5.5 0 0 0-.436-.749l-6.649.026a.5.5 0 0 0-.43.751l3.347 5.746a.5.5 0 0 0 .866-.004l3.302-5.77Z"
                fill="#362E75"
                stroke-width="1%"
                class="arrow arrow-2"
              />
            </g>
          </svg>
        </li>
        <!-- line -->
        <li
          class="even flex flex-col items-center gap-4 flex-1"
          style="--item-index: 2"
        >
          <div>
            <img
              src="assets/svg/free-trial-forfait.svg"
              alt="Free trial sign up"
              width="124"
              height="121"
            />
          </div>
          <h4 class="font-semibold text-[rgba(70,82,89,1)] text-lg text-center">
            Sélectionner votre forfait
          </h4>
          <p class="text-sm font-light text-[rgba(66,61,61,1)] text-center">
            Faites le choix du forfait qui vous convient
          </p>
        </li>

        <!-- line -->
        <li class="flex-1 transform -translate-y-24 hidden lg:block">
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 300 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g class="line-arrow-group">
              <path
                class="line line-3"
                opacity=".5"
                d="M1 27.945c42-20.333 144.5-48.8 218.5 0"
                stroke="#362E75"
                stroke-dasharray="2 2"
                stroke-width="1%"
              />
              <path
                opacity=".5"
                d="M225.368 31.3a.5.5 0 0 1-.436.749l-6.649-.026a.5.5 0 0 1-.43-.751l3.347-5.746a.5.5 0 0 1 .866.003l3.302 5.772Z"
                fill="#362E75"
                stroke-width="1%"
                class="arrow arrow-3"
              />
            </g>
          </svg>
        </li>
        <!-- line -->
        <li
          class="odd flex flex-col items-center gap-4 flex-1 text-center"
          style="--item-index: 3"
        >
          <div>
            <img
              src="assets/svg/free-trial-booster.svg"
              alt="Free trial sign up"
              width="124"
              height="121"
            />
          </div>
          <h4 class="font-semibold text-[rgba(70,82,89,1)] text-lg text-center">
            Booster votre entreprise
          </h4>
          <p class="text-sm font-light text-[rgba(66,61,61,1)]">
            Voyez rapidement les résultats
          </p>
        </li>
      </ul>
    </div>
  } @placeholder {
    <div></div>
  }
  <!-- steps -->
  <div class="mt-12 w-fit mx-auto text-sm lg:mt-24 lg:text-lg">
    <app-primary-button
      [buttonData]="{
        name: 'Essai gratuit',
        href: '/register',
        behaviour: 'link'
      }"
    />
  </div>
</section>
