<div  class="py-20 bg-gray-50 py-5">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      <div
        class="text-center p-6 bg-white rounded-xl shadow-md hover:shadow-lg transition-shadow"
      >
        <div class="text-4xl font-bold text-purple-600 mb-2">{{'CLIENT.STATISTIC.SATISFACTION_RATE.VALUE' | translate }}</div>
        <div class="text-gray-600">{{'CLIENT.STATISTIC.SATISFACTION_RATE.LABEL' | translate }}</div>
      </div>
      <div
        class="text-center p-6 bg-white rounded-xl shadow-md hover:shadow-lg transition-shadow"
      >
        <div class="text-4xl font-bold text-purple-600 mb-2">{{'CLIENT.STATISTIC.AVERAGE_RESPONSE_TIME.VALUE' | translate }}</div>
        <div class="text-gray-600">{{'CLIENT.STATISTIC.AVERAGE_RESPONSE_TIME.LABEL' | translate }}</div>
      </div>
      <div
        class="text-center p-6 bg-white rounded-xl shadow-md hover:shadow-lg transition-shadow"
      >
        <div class="text-4xl font-bold text-purple-600 mb-2">{{'CLIENT.STATISTIC.SUCCESSFUL_RECRUITMENTS.VALUE' | translate }}</div>
        <div class="text-gray-600">{{'CLIENT.STATISTIC.SUCCESSFUL_RECRUITMENTS.LABEL' | translate }}</div>
      </div>
      <div
        class="text-center p-6 bg-white rounded-xl shadow-md hover:shadow-lg transition-shadow"
      >
        <div class="text-4xl font-bold text-purple-600 mb-2">{{'CLIENT.STATISTIC.REPLACEMENT_GUARANTEE.VALUE' | translate }}</div>
        <div class="text-gray-600">{{'CLIENT.STATISTIC.REPLACEMENT_GUARANTEE.LABEL' | translate }}</div>
      </div>
    </div>
  </div>
</div>
