<div class="flex items-center w-fit bg-white rounded-xl relative z-10">
  @for (switch of switches; track switch) {
    <button
      (click)="onSelect(switch)"
      class="w-[120px] p-3 transition-colors duration-300 ease-out capitalize font-medium text-lg sm:w-[170px] sm:px-8 sm:py-6"
      [style]="selected === switch ? { color: 'white' } : { color: 'black' }"
    >
      {{ switch }}
    </button>
  }

  <div
    class="w-[120px] p-3 transition-transform duration-300 ease-out h-full absolute left-0 top-0 bg-app-secondary-dark rounded-xl z-[-1] sm:px-8 sm:w-[170px]"
    [style]="
      selected === switches[0]
        ? { transform: 'translateX(0)' }
        : { transform: 'translateX(100%)' }
    "
  ></div>
</div>
