<!-- faq.component.html -->
<div class="max-w-3xl mx-auto md:py-[60px]">
  <h1
    class="mb-10 text-center custom-650:text-3xl custom-650:mx-1/6 my-10 text-4xl font-bold text-gray-800"
  >
    Questions Fréquentes
  </h1>
  <div class="text-center mx-10 text-lg text-gray-500 mb-6">
    Trouvez rapidement les réponses à vos questions
  </div>

  <div class="space-y-5 mt-2">
    @for(item of faqItems; track item; let i = $index) {
    <div
      [attr.style]="'--item-index:' + i"
      [class.show-up-animation]="isVisible"
      class="faq-item bg-white rounded-lg shadow-lg transition-transform transform hover:-translate-y-1"
    >
      <!-- Question -->
      <div
        (click)="toggleFaq(item)"
        class="flex justify-between items-center p-4 cursor-pointer hover:bg-gray-50"
      >
        <span class="text-lg font-medium">{{ item.question }}</span>
        <span
          [ngClass]="{ 'rotate-180': item.isOpen }"
          class="transform transition-transform duration-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            class="w-6 h-6"
          >
            <path d="M6 9l6 6 6-6" />
          </svg>
        </span>
      </div>

      <!-- Answer -->
      <div *ngIf="item.isOpen" class="bg-gray-50 overflow-hidden">
        <div class="p-4 text-gray-600 leading-relaxed">
          {{ item.answer }}
        </div>
      </div>
    </div>
    }
  </div>
</div>
