<section>
  <div
    class="container md:mt-[-60px] custom-650:mt-[90px] mx-auto px-6 md:pt-20 custom-650:pt-10 md:pb-16 "
  >
    <div class="grid md:grid-cols-[3fr_1fr] gap-12 items-center">
      <div class="space-y-8">
        <h1
          class="text-6xl md:relative z-[1600] animate-fade-in custom-650:text-4xl md:text-gray-300 custom-650:text-center md:text-7xl font-bold text-gray-800 leading-tight"
        >
          Construisez
          <span class="text-gradient"> votre avenir professionnel </span>
          dès maintenant
          <button
            (click)="onOpenVideoPlayer()"
            class="inline-flex items-center ml-4 transform md:-translate-y-2 md:translate-x-8 custom-650:mt-5 px-4 py-2 bg-gradient-to-r from-violet-600 to-purple-500 hover:from-violet-700 hover:to-purple-600 text-white text-base font-bold rounded-full shadow-lg transform hover:scale-105 active:scale-95 transition-all duration-300"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-5 h-5 mr-2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.752 11.168l-7.432-4.28A1 1 0 006 7.72v8.56a1 1 0 001.32.948l7.432-4.28a1 1 0 000-1.736z"
              />
            </svg>
            En savoir plus
          </button>
        </h1>

        <p
          class="text-xl animate-fade-in md:bg-gray-900 md:p-5 md:rounded-xl md:text-gray-400 custom-650:text-center text-gray-600"
          style="animation-delay: 0.2s"
        >
          Faites le choix de l'excellence et d’un avenir prometteur.
          Rejoignez-nous
          <span class="font-bold italic underline">aujourd’hui</span> et ouvrez
          la porte à de nouvelles perspectives de carrière et de recrutement
        </p>
        <div
          style="animation-delay: 0.4s"
          class="apply-container animate-fade-in p-2 rounded-2xl"
        >
          <div class="relative w-full sm:w-[450px] md:w-[550px] h-[60px]">
            <div
              class="relative w-full h-full bg-app-primary-purple rounded-xl shadow-inner shadow-gray-900/50 overflow-hidden"
            >
              <!-- Sliding element -->
              <div
                class="absolute top-1 h-[52px] w-1/2 bg-app-primay-dark rounded-xl shadow-lg transition-all duration-500 ease-in-out"
                [ngClass]="isPostuler ? 'left-1' : 'left-1/2'"
              ></div>

              <!-- Button text -->
              <div class="absolute custom-650:flex inset-0 flex">
                <button
                  (click)="setPostuler(true)"
                  class="flex-1 flex items-center justify-center text-lg sm:text-xl font-bold px-4 sm:px-6 md:px-8 py-2 sm:py-3 md:py-4 rounded-xl transition-all"
                  [ngClass]="isPostuler ? 'text-white' : 'text-gray-200'"
                >
                  Postuler Maintenant
                </button>
                <button
                  (click)="setPostuler(false)"
                  class="flex-1 flex items-center justify-center text-lg sm:text-xl font-bold px-4 sm:px-6 md:px-8 py-2 sm:py-3 md:py-4 rounded-xl transition-all"
                  [ngClass]="!isPostuler ? 'text-white' : 'text-gray-200'"
                >
                  Trouver un candidat
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="custom-650:hidden air air1"></div>
    <div class="custom-650:hidden air air2"></div>
    <div class="custom-650:hidden air air3"></div>
    <div class="custom-650:hidden air air4"></div>
  </div>
</section>

@if (isVideoPlayerOpen()) {
<app-video-player (closeModal)="onCloseVideoPlayer()" />
}
