<div class="container mx-auto px-6 md:pt-20 custom-650:pt-10 md:pb-16">
  <div class="grid md:grid-cols-[3fr_1fr] gap-12 items-center">
    <div class="space-y-8">
      <h1
        class="text-6xl custom-650:text-4xl custom-650:text-center md:text-7xl font-bold text-gray-800 leading-tight"
      >
        Construisez 
        <span class="text-gradient"> votre avenir professionnel </span>
        dès maintenant
      </h1>
      <p class="text-xl custom-650:text-center text-gray-600">
        Faites le choix de l'excellence et d’un futur prometteur. Postulez
        <span class="font-bold italic">aujourd’hui</span> et ouvrez la porte à
        de nouvelles perspectives professionnelles.
      </p>
      <div class="apply-container p-2 rounded-2xl">
        <div class="flex custom-650:flex-col gap-4">
          <button
          (click)="onDeposit()"
            class="bg-app-primary-purple text-white px-8 py-4 rounded-xl hover:bg-purple-700 transform hover:scale-105 transition-all"
          >
            Postuler Maintenant
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="floating custom-650:hidden">
      <img
        src="assets/images/image-presentation.png"
        alt="Équipe au travail"
        class="w-full relative z-10"
      />
    </div> -->
  </div>
</div>
