<section
  class="relative min-h-[700px] p-app-secondary-padding xl:p-app-primary-padding"
>
  <div
    class="grid max-w-[1600px] mx-auto gap-4 grid-cols-1 sm:gap-6 lg:grid-cols-4 lg:gap-8 xl:gap-12"
  >
    <h1
      class="font-bold text-app-primay-dark text-xl sm:text-2xl lg:text-3xl xl:text-[44px]"
    >
      Qui somme nous !
    </h1>
    <p
      class="font-normal text-app-primay-dark leading-[22px] text-sm sm:leading-[37px] sm:text-lg lg:text-xl lg:col-start-2 lg:col-end-5"
    >
      Nous sommes une équipe dynamique de visionnaires, de développeurs, de
      conseillers financiers et de spécialistes du marketing, unis par la
      passion de l'innovation et l'engagement envers l'excellence.
      <br />
      <br />
      Ensemble, nous avons créé une plateforme de gestion d'entreprise en ligne
      qui est à la fois puissante et facile à utiliser, conçue pour aider les
      entrepreneurs à naviguer dans le paysage complexe de la gestion
      d'entreprise.
      <br />
      <br />
      Notre expertise couvre un large éventail de disciplines, nous permettant
      d'offrir une solution complète qui répond aux besoins spécifiques des
      entreprises modernes en matière de vente, de facturation, de trésorerie et
      de marketing.
      <br />
      <br />
      Nous sommes dédiés à fournir un service exceptionnel et à soutenir nos
      clients à chaque étape de leur croissance.
    </p>
  </div>

  <span
    class="absolute left-0 top-1/2 transform -translate-y-1/2 z-[-1] hidden lg:block"
  >
    <svg
      width="200"
      height="493"
      viewBox="0 0 200 493"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M-51.5 404.926C40.6256 404.926 112.055 332.216 112.055 246.5C112.055 160.784 40.6256 88.0741 -51.5 88.0741C-143.626 88.0741 -215.055 160.784 -215.055 246.5C-215.055 332.216 -143.626 404.926 -51.5 404.926ZM-51.5 493C87.3996 493 200 382.638 200 246.5C200 110.362 87.3996 0 -51.5 0C-190.4 0 -303 110.362 -303 246.5C-303 382.638 -190.4 493 -51.5 493Z"
        fill="url(#paint0_linear_629_7622)"
      />
      <defs>
        <linearGradient
          id="paint0_linear_629_7622"
          x1="-288.495"
          y1="-128.088"
          x2="321.6"
          y2="-56.545"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#B0CCFC" />
          <stop offset="1" stop-color="#CDB9FD" />
        </linearGradient>
      </defs>
    </svg>
  </span>
  <span
    class="absolute left-0 top-1/4 transform -translate-y-1/2 z-[-1] lg:hidden"
  >
    <svg
      width="54"
      height="140"
      viewBox="0 0 54 140"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M-17.5 114.989C8.69079 114.989 28.9979 94.3414 28.9979 70C28.9979 45.6586 8.69079 25.0109 -17.5 25.0109C-43.6908 25.0109 -63.9979 45.6586 -63.9979 70C-63.9979 94.3414 -43.6908 114.989 -17.5 114.989ZM-17.5 140C21.9884 140 54 108.66 54 70C54 31.3401 21.9884 0 -17.5 0C-56.9884 0 -89 31.3401 -89 70C-89 108.66 -56.9884 140 -17.5 140Z"
        fill="url(#paint0_linear_974_11494)"
      />
      <defs>
        <linearGradient
          id="paint0_linear_974_11494"
          x1="-84.8762"
          y1="-36.374"
          x2="88.5649"
          y2="-16.0124"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#B0CCFC" />
          <stop offset="1" stop-color="#CDB9FD" />
        </linearGradient>
      </defs>
    </svg>
  </span>
</section>
