<section class="p-app-secondary-padding xl:p-app-primary-padding">
  <h1
    class="flex items-end gap-1 leading-[62px] w-fit mx-auto mb-6 lg:mb-8 xl:mb-14"
  >
    <span
      class="text-2xl text-center font-semibold tracking-[1.25px] text-app-primay-dark sm:text-3xl lg:text-4xl"
    >
      Les avantages de

      <img
        src="assets/svg/logo.svg"
        alt="Vendiko logo"
        width="143"
        height="36"
        class="inline-block mb-4 h-[30px] sm:h-[36px]"
      />
    </span>
  </h1>
  @defer (on viewport) {
    <div
      class="hidden flex-col gap-y-8 mx-auto max-w-[1000px] sm:flex lg:gap-y-12 xl:gap-y-14"
    >
      <!-- top group -->
      <div
        class="grid max-w-[900px] self-end gap-8 grid-cols-1 sm:grid-cols-2 lg:gap-12 xl:gap-14"
      >
        <!-- card -->
        <article
          class="card bg-white rounded-lg p-4 flex flex-col items-center gap-3 font-medium text-2xl"
          style="
            box-shadow:
              0px 2px 2px 0px rgba(0, 0, 0, 0.1),
              0px 0px 3px 0px rgba(0, 0, 0, 0.16);
            --item-index: 0;
          "
        >
          <h3
            class="text-app-highlight-dark capitalize text-center text-lg sm:text-xl lg:text-2xl"
          >
            facilité d’utilisation
          </h3>
          <div>
            <app-easy-use-icon />
          </div>
          <p
            class="text-app-primay-dark leading-[24px] font-normal text-center text-sm lg:leading-[31px] lg:text-lg"
          >
            Avec Vendiiko, pas besoin d’être expert en gestion comptable,
            marketing ou commerciale. Notre guide vous conduit étape par étape.
          </p>
        </article>
        <!-- card -->
        <article
          class="card bg-white rounded-lg p-4 flex flex-col items-center gap-3 font-medium text-2xl"
          style="
            box-shadow:
              0px 2px 2px 0px rgba(0, 0, 0, 0.1),
              0px 0px 3px 0px rgba(0, 0, 0, 0.16);
            --item-index: 2;
          "
        >
          <h3
            class="text-app-highlight-dark capitalize text-center text-lg sm:text-xl lg:text-2xl"
          >
            Aucune installation requise
          </h3>
          <div>
            <app-no-instalation-icon />
          </div>
          <p
            class="text-app-primay-dark leading-[24px] font-normal text-center text-sm lg:leading-[31px] lg:text-lg"
          >
            Profitez à 100% de notre plateforme sans avoir besoin de télécharger
            ou configurer quoi que ce soit sur votre appareil.
          </p>
        </article>
      </div>
      <!-- bottom group -->
      <div
        class="grid max-w-[900px] gap-8 grid-cols-1 sm:grid-cols-2 lg:gap-12 xl:gap-14"
      >
        <!-- card -->
        <article
          class="card bg-white rounded-lg p-4 flex flex-col items-center gap-3 font-medium text-2xl"
          style="
            box-shadow:
              0px 2px 2px 0px rgba(0, 0, 0, 0.1),
              0px 0px 3px 0px rgba(0, 0, 0, 0.16);
            --item-index: 1;
          "
        >
          <h3
            class="text-app-highlight-dark capitalize text-center text-lg sm:text-xl lg:text-2xl"
          >
            Sécurité
          </h3>
          <div>
            <app-security-icon />
          </div>
          <p
            class="text-app-primay-dark leading-[24px] font-normal text-center text-sm lg:leading-[31px] lg:text-lg"
          >
            Bénéficiez de nos protocoles de sécurité avancés pour protéger vos
            données financières.
          </p>
        </article>
        <!-- card -->
        <article
          class="card bg-white rounded-lg p-4 flex flex-col items-center gap-3 font-medium text-2xl"
          style="
            box-shadow:
              0px 2px 2px 0px rgba(0, 0, 0, 0.1),
              0px 0px 3px 0px rgba(0, 0, 0, 0.16);
            --item-index: 3;
          "
        >
          <h3
            class="text-app-highlight-dark capitalize text-center text-lg sm:text-xl lg:text-2xl"
          >
            Automatisation
          </h3>

          <div>
            <app-automation-icon />
          </div>
          <p
            class="text-app-primay-dark leading-[24px] font-normal text-center text-sm lg:leading-[31px] lg:text-lg"
          >
            Nos fonctionnalités d’automatisation vous font gagner du temps et
            réduisent vos erreurs.
          </p>
        </article>
      </div>
    </div>
  } @placeholder {
    <div></div>
  }
  <div
    class="mobile-cards flex gap-8 overflow-scroll p-2 sm:hidden lg:gap-12 xl:gap-14"
  >
    <!-- card -->
    <article
      class="min-w-full bg-white rounded-lg p-4 flex flex-col items-center gap-3 font-medium text-2xl"
      style="
        box-shadow:
          0px 2px 2px 0px rgba(0, 0, 0, 0.1),
          0px 0px 3px 0px rgba(0, 0, 0, 0.16);
        --item-index: 0;
      "
    >
      <h3
        class="text-app-highlight-dark capitalize text-center text-lg sm:text-xl lg:text-2xl"
      >
        facilité d’utilisation
      </h3>
      <div>
        <app-easy-use-icon />
      </div>
      <p
        class="text-app-primay-dark leading-[24px] font-normal text-center text-sm lg:leading-[31px] lg:text-lg"
      >
        Avec Vendiiko, pas besoin d’être expert en gestion comptable, marketing
        ou commerciale. Notre guide vous conduit étape par étape.
      </p>
    </article>
    <!-- card -->
    <article
      class="min-w-full bg-white rounded-lg p-4 flex flex-col items-center gap-3 font-medium text-2xl"
      style="
        box-shadow:
          0px 2px 2px 0px rgba(0, 0, 0, 0.1),
          0px 0px 3px 0px rgba(0, 0, 0, 0.16);
        --item-index: 2;
      "
    >
      <h3
        class="text-app-highlight-dark capitalize text-center text-lg sm:text-xl lg:text-2xl"
      >
        Aucune installation requise
      </h3>
      <div>
        <app-no-instalation-icon />
      </div>
      <p
        class="text-app-primay-dark leading-[24px] font-normal text-center text-sm lg:leading-[31px] lg:text-lg"
      >
        Profitez à 100% de notre plateforme sans avoir besoin de télécharger ou
        configurer quoi que ce soit sur votre appareil.
      </p>
    </article>

    <!-- card -->
    <article
      class="min-w-full bg-white rounded-lg p-4 flex flex-col items-center gap-3 font-medium text-2xl"
      style="
        box-shadow:
          0px 2px 2px 0px rgba(0, 0, 0, 0.1),
          0px 0px 3px 0px rgba(0, 0, 0, 0.16);
        --item-index: 1;
      "
    >
      <h3
        class="text-app-highlight-dark capitalize text-center text-lg sm:text-xl lg:text-2xl"
      >
        Sécurité
      </h3>
      <div>
        <app-security-icon />
      </div>
      <p
        class="text-app-primay-dark leading-[24px] font-normal text-center text-sm lg:leading-[31px] lg:text-lg"
      >
        Bénéficiez de nos protocoles de sécurité avancés pour protéger vos
        données financières.
      </p>
    </article>
    <!-- card -->
    <article
      class="min-w-full bg-white rounded-lg p-4 flex flex-col items-center gap-3 font-medium text-2xl"
      style="
        box-shadow:
          0px 2px 2px 0px rgba(0, 0, 0, 0.1),
          0px 0px 3px 0px rgba(0, 0, 0, 0.16);
        --item-index: 3;
      "
    >
      <h3
        class="text-app-highlight-dark capitalize text-center text-lg sm:text-xl lg:text-2xl"
      >
        Automatisation
      </h3>

      <div>
        <app-automation-icon />
      </div>
      <p
        class="text-app-primay-dark leading-[24px] font-normal text-center text-sm lg:leading-[31px] lg:text-lg"
      >
        Nos fonctionnalités d’automatisation vous font gagner du temps et
        réduisent vos erreurs.
      </p>
    </article>
  </div>
</section>
