.card {
  animation: showUp 0.6s calc(var(--item-index) * 0.6s) ease-out both;
}
.mobile-cards::-webkit-scrollbar {
  display: none;
}

.mobile-cards {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes showUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
