<section
  class="flex gap-x-4 gap-y-8 flex-col p-app-secondary-padding bg-app-accent-lighter rounded-[67px] xl:flex-row xl:p-app-primary-padding"
>
  <div class="flex-1">
    <h1
      class="text-app-primay-dark text-2xl leading-[42px] font-bold sm:leading-[52px] sm:text-3xl lg:leading-[62px] lg:text-4xl"
    >
      Vous offrir un service de qualité tout en optimisant votre efficacité
      opérationnelle, est le centre de nos priorités
    </h1>
    <p
      class="text-sm text-app-primay-dark leading-6 lg:leading-10 lg:text-lg pt-4 pb-8 xl:pt-8 xl:pb-14"
    >
      Quelque soit votre activité, nos services répondront à vos besoins et à
      ceux de vos clients.
    </p>
    <ul class="flex flex-col gap-6 lg:gap-8 xl:gap-14">
      <li class="flex items-center gap-4 lg:gap-7">
        <div
          class="w-5 h-5 flex items-center justify-center rounded-full bg-app-accent-light lg:w-6 lg:h-6"
          style="box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2)"
        >
          <span
            class="bg-app-secondary-dark w-[8px] h-[8px] rounded-full lg:w-[10px] lg:h-[10px]"
          ></span>
        </div>
        <p
          class="text-sm lg:text-lg font-normal leading-[18px] text-app-primay-dark"
        >
          Optimisez votre relation client
        </p>
      </li>

      <li class="flex items-center gap-4 lg:gap-7">
        <div
          class="w-5 h-5 flex items-center justify-center rounded-full bg-app-accent-light lg:w-6 lg:h-6"
          style="box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2)"
        >
          <span
            class="bg-app-secondary-dark w-[8px] h-[8px] rounded-full lg:w-[10px] lg:h-[10px]"
          ></span>
        </div>
        <p
          class="text-sm lg:text-lg font-normal leading-[18px] text-app-primay-dark"
        >
          Facturez automatiquement vos clients
        </p>
      </li>

      <li class="flex items-center gap-4 lg:gap-7">
        <div
          class="w-5 h-5 flex items-center justify-center rounded-full bg-app-accent-light lg:w-6 lg:h-6"
          style="box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2)"
        >
          <span
            class="bg-app-secondary-dark w-[8px] h-[8px] rounded-full lg:w-[10px] lg:h-[10px]"
          ></span>
        </div>
        <p
          class="text-sm lg:text-lg font-normal leading-[18px] text-app-primay-dark"
        >
          Réduisez les coûts jusqu’à 30%
        </p>
      </li>

      <li class="flex items-center gap-4 lg:gap-7">
        <div
          class="w-5 h-5 flex items-center justify-center rounded-full bg-app-accent-light lg:w-6 lg:h-6"
          style="box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2)"
        >
          <span
            class="bg-app-secondary-dark w-[8px] h-[8px] rounded-full lg:w-[10px] lg:h-[10px]"
          ></span>
        </div>
        <p
          class="text-sm lg:text-lg font-normal leading-[18px] text-app-primay-dark"
        >
          Retrouvez facilement vos dossiers grâce au stockage cloud
        </p>
      </li>
    </ul>
  </div>
  <div class="flex-1">
    @defer (on viewport) {
      <div
        class="max-w-full mx-auto sm:max-w-[85%] lg:max-w-[75%] xl:max-w-full"
      >
        <app-home-our-services-image />
      </div>
    } @placeholder {
      <div></div>
    }
  </div>
</section>
