<div [formGroup]="formGroup" class="relative">
  <input
    [id]="id"
    [formControlName]="id"
    type="text"
    [type]="type"
    [class]="classInput"
     (input)="onNumberInput($event)"
    placeholder=" "
  />
  <label [for]="id" class="absolute" [class]="classLabel">
    {{ title }} <span class="text-red-400">*</span>
  </label>
  <div *ngIf="control?.touched && control?.errors" class="text-red-500 text-sm mt-1">
    <span *ngIf="control?.errors?.['required']">
      {{ 'CV_DEPOSIT.REQUIRED_FIELD' | translate }}
    </span>
    <span *ngIf="control?.errors?.['email']">
      {{ 'CV_DEPOSIT.INVALID_EMAIL' | translate }}
    </span>
  </div>
</div>
