.box {
  animation-duration: 0.6s;
  animation-delay: calc(var(--box-index) * 0.6s);
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

.box-1,
.box-4 {
  animation-name: fromLeft;
}

.box-2 {
  animation-name: fromTop;
}

.box-3 {
  animation-name: fromRight;
}
.box-5 {
  animation-name: fromBottom;
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
