<section
  class="relative p-app-secondary-padding pb-[4rem] sm:pb-[6rem] lg:pb-[8rem] xl:pb-[12rem] xl:px-app-primary-padding xl:pt-app-primary-padding"
>
  <div class="relative max-w-[870px] mx-auto text-center">
    <h1 class="font-bold text-app-primay-dark text-3xl lg:text-4xl">
      Notre mission
    </h1>
    <p
      class="text-sm text-app-primay-dark leading-6 lg:leading-10 lg:text-lg pt-4 xl:pt-8"
    >
      Notre mission est de fournir une plateforme de gestion d'entreprise en
      ligne qui transforme et simplifie la manière dont les entrepreneurs gèrent
      et développent leurs activités.
    </p>
    <app-flying-plus type="normal" />
    <app-flying-plus type="gradiant" />
  </div>

  <div
    class="grid grid-cols-9 grid-rows-6 gap-2 max-w-[1400px] mx-auto mt-8 h-[200px] sm:mt-12 sm:h-[350px] sm:gap-4 lg:gap-6 lg:h-[500px] xl:h-[600px] lg:mt-16"
  >
    <div
      class="box box-1 overflow-hidden col-start-2 col-end-4 row-start-2 row-end-4 rounded-xl"
      style="--box-index: 0"
    >
      <img
        src="assets/images/security-image.jpg"
        alt="Security image"
        class="w-full h-full object-cover"
      />
    </div>
    <div
      class="box box-2 overflow-hidden col-start-4 col-end-7 row-start-1 row-end-6 rounded-xl"
      style="--box-index: 1"
    >
      <img
        src="assets/images/stock-market-image.jpg"
        alt="Stock market image"
        class="w-full h-full object-cover"
      />
    </div>
    <div
      class="box box-3 overflow-hidden col-start-7 col-end-10 row-start-2 row-end-5 rounded-xl"
      style="--box-index: 4"
    >
      <img
        src="assets/images/shaking-hands-image.jpg"
        alt="Shaking hands image"
        class="w-full h-full object-cover"
      />
    </div>
    <div
      class="box box-4 overflow-hidden col-start-1 col-end-4 row-start-4 row-end-7 rounded-xl"
      style="--box-index: 3"
    >
      <img
        src="assets/images/calculating-image.jpg"
        alt="Calculating image"
        class="w-full h-full object-cover"
      />
    </div>
    <div
      class="box box-5 overflow-hidden col-start-7 col-end-9 row-start-5 row-end-7 rounded-xl"
      style="--box-index: 2"
    >
      <img
        src="assets/images/calculating2-image.jpg"
        alt="Calculating image"
        class="w-full h-full object-cover"
      />
    </div>
  </div>
  <span class="absolute right-0 bottom-0 z-[-1] hidden lg:block">
    <svg
      width="777"
      height="293"
      viewBox="0 0 777 293"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M789.056 86.9863C788.087 103.812 771.664 138.075 701.182 168.888C634.646 197.977 538.224 214.196 428.583 205.567C318.942 196.938 225.248 165.757 162.644 126.506C96.3265 84.9261 83.9763 48.399 84.9444 31.5731C85.2835 25.6796 87.5187 17.6468 93.3089 8.37237L4.0428 0.586426C1.97555 8.51372 0.682704 16.6258 0.206394 24.9042C-7.13861 152.563 182.466 271.442 423.701 290.427C664.935 309.412 866.449 221.314 873.794 93.6552C874.125 87.893 874.055 82.1486 873.598 76.4305L785.932 68.7841C788.57 76.1552 789.324 82.3263 789.056 86.9863Z"
        fill="url(#paint0_linear_629_7613)"
      />
      <defs>
        <linearGradient
          id="paint0_linear_629_7613"
          x1="25.2003"
          y1="-55.9684"
          x2="974.851"
          y2="288.368"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="white" />
          <stop offset="1" stop-color="#CDB9FD" />
        </linearGradient>
      </defs>
    </svg>
  </span>
  <span class="absolute right-0 bottom-0 z-[-1] lg:hidden">
    <svg
      width="240"
      height="157"
      viewBox="0 0 240 157"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M256.446 108.189C254.435 113.591 245.582 123.125 219.282 126.055C194.455 128.821 161.086 124.352 125.866 110.423C90.6453 96.493 62.943 76.8082 46.286 57.6357C28.6411 37.3262 28.2512 24.1361 30.2628 18.7347C30.9673 16.8428 32.5113 14.4438 35.3502 11.9992L6.75159 0.409631C5.27356 2.79117 4.03183 5.31157 3.04213 7.96908C-12.2197 48.9496 38.2281 107.016 115.721 137.664C193.213 168.312 268.405 159.935 283.667 118.955C284.356 117.105 284.911 115.221 285.336 113.305L257.25 101.923C257.376 104.6 257.004 106.693 256.446 108.189Z"
        fill="url(#paint0_linear_974_11492)"
      />
      <defs>
        <linearGradient
          id="paint0_linear_974_11492"
          x1="19.4058"
          y1="-15.9313"
          x2="296.393"
          y2="194.083"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="white" />
          <stop offset="1" stop-color="#CDB9FD" />
        </linearGradient>
      </defs>
    </svg>
  </span>
</section>
