.customer-container:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 2px;
  border-right: 2px dashed rgba(205, 185, 253, 0.5);
  transform: rotate(35deg);
  transform-origin: 50% 50%;
}
