<header
  #headerElement
  class="transition-colors relative z-[9999] duration-300 sticky top-0 left-0 w-full flex items-center justify-between gap-2 px-app-secondary-padding xl:px-app-primary-padding min-h-[100px]"
>
  <div
    #progressBarElement
    class="transition-all duration-300 ease-out absolute left-0 bottom-0 h-[2px] bg-app-primay-dark"
  ></div>

  <a class="cursor-pointer min-w-[143px]" href="/">
    <div #logoContainer class="flex items-center gap-2">
      <img
        #logoImage
        className="w-8 h-8 object-contain"
        src="assets/icons/cc-logo.png"
        alt="Logo"
      />
      <span class="md:text-2xl text-xl font-bold text-gradient"
        >{{'APP_NAME' | translate}}</span
      >
    </div>
  </a>

  <div class="md:relative inline-flex mx-4">
    <div>
      <button 
        (click)="toggleDropdown()" 
        class="flex items-center justify-center w-10 h-10 rounded-full bg-gray-200 shadow-md hover:shadow-xl transition-all duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-purple-300"
      >
        <div class="flex items-center space-x-1 p-1.5 bg-app-primay-dark rounded-full">
          <span class="text-purple-800 bg-gray-100 p-2 rounded-full font-semibold text-sm uppercase tracking-wider">
            {{ currentLanguage }}
          </span>
        </div>
      </button>
  
      @if(dropdownOpen){
        <div  
        class="absolute custom-650:w-screen custom-650:h-screen z-50 origin-top-right right-0 custom-650:pt-5 mt-2 w-56 md:rounded-xl md:shadow-2xl bg-white md:ring-1 ring-black ring-opacity-5 focus:outline-none animate-fade-in-down"
        (click)="$event.stopPropagation()"
      >
        <div class="py-1">
          <button 
            (click)="switchLanguage('FR')"
            class="w-full flex items-center rounded-xl px-4 py-3 text-sm text-gray-700 hover:bg-purple-50 transition-colors duration-200"
            [ngClass]="{ 'bg-purple-100': currentLanguage === 'FR' }"
          >
            <img 
              src="/assets/flags/france.png" 
              alt="Français" 
              class="h-[10px] mr-5 rounded-full"
            />
            <span class="flex-grow text-left">{{'LANGUAGE.0' | translate}}</span>
            <svg *ngIf="currentLanguage === 'FR'" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-purple-600" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
          </button>
  
          <button 
            (click)="switchLanguage('EN')"
            class="w-full flex items-center rounded-xl px-4 py-3 text-sm text-gray-700 hover:bg-purple-50 transition-colors duration-200"
            [ngClass]="{ 'bg-purple-100': currentLanguage === 'EN' }"
          >
            <img 
              src="/assets/flags/united-kingdom.png" 
              alt="English" 
              class="h-[10px]  mr-5 rounded-full"
            />
            <span class="flex-grow text-left">{{'LANGUAGE.1' | translate}}</span>
            <svg *ngIf="currentLanguage === 'EN'" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-purple-600" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>
      }
    </div>
  </div>

  <button
    role="button"
    class="block transition-colors duration-300 ease-in-out text-app-primay-dark hover:text-app-secondary-dark xl:hidden"
    (click)="toggleNav()"
  >
    @if (isNavOpen) {
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-8 h-8"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18 18 6M6 6l12 12"
      />
    </svg>
    } @else {
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-8 h-8"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      />
    </svg>
    }
  </button>

  <nav
    class="overflow-auto transition-transform duration-300 ease-out bg-white absolute top-full p-app-secondary-padding left-0 h-[calc(100vh-100px)] w-full transform {{
      isNavOpen ? 'translate-y-0' : '-translate-y-[calc(100%+100px)]'
    }} xl:relative xl:translate-y-0 xl:h-auto xl:w-auto xl:bg-transparent xl:p-0 xl:overflow-visible"
  >
    <ul
      class="flex items-start gap-x-12 gap-y-8 flex-col xl:flex-row xl:items-center"
    >
      @for (linkEntry of navItems.links; track linkEntry){
      <li
        #navElement
        (click)="
          linkEntry.behaviour === 'scroll'
            ? scrollToSection(linkEntry.sectionId!)
            : null
        "
        [ngClass]="{
          'text-gray-800':
            currentRoute === '/client' ||
            currentRoute === '/mention-legal' ||
            currentRoute === '/deposer-un-cv' ||
            currentRoute === '/condition-general-de-vente'||
            currentRoute === '/offre-d\'emploi/commercial'||
            currentRoute === '/offre-d\'emploi/community-manager'||
            currentRoute === '/offre-d\'emploi/developpeur-web'||
            currentRoute === '/offre-d\'emploi/secretaire'||
            currentRoute === '/offre-d\'emploi/profil-bilingue',
          'text-gray-600 custom-650:text-gray-600': !(
            currentRoute === '/client' ||
            currentRoute === '/mention-legal' ||
            currentRoute === '/deposer-un-cv' ||
            currentRoute === '/condition-general-de-vente' ||
            currentRoute === '/offre-d\'emploi/commercial'||
            currentRoute === '/offre-d\'emploi/community-manager'||
            currentRoute === '/offre-d\'emploi/developpeur-web'||
            currentRoute === '/offre-d\'emploi/secretaire'||
            currentRoute === '/offre-d\'emploi/profil-bilingue'
          )
        }"
        class="cursor-pointer relative hover:text-purple-600 font-medium text-lg transition-colors duration-300 ease-in-out has-[.link-active]:text-app-secondary-dark"
      >
        {{ linkEntry.translationKey | translate }}
      </li>
      } @for(buttonEntry of navItems.buttons;track buttonEntry){
      <div
        class="flex items-start gap-x-8 gap-y-8 flex-col sm:flex-row xl:items-center xl:gap-x-12"
      >
        <div class="text-sm">
          @if(buttonEntry.name !=='Client'){
          <button
            (click)="onDeposit()"
            class="block cursor-pointer text-center text-white px-6 py-2 rounded-full hover:bg-purple-700 transition-all transform hover:scale-105 transition-colors ease-out duration-300 relative w-full tracking-[1.25px] px-[2em] py-[0.5em] rounded-[10px] font-medium text-inherit text-[#fff] z-10 group bg-app-primay-dark"
          >
            {{ buttonEntry.translationKey | translate }}
          </button>
          } @else {
          <button
            (click)="onClient()"
            class="block cursor-pointer text-center bg-purple-700 text-white px-6 py-2 rounded-full transition-all transform hover:scale-105 transition-colors ease-out duration-300 relative w-full tracking-[1.25px] px-[2em] py-[0.5em] rounded-[10px] font-medium text-inherit text-[#fff] z-10 group hover:bg-app-primay-dark"
          >
            {{ buttonEntry.translationKey | translate }}
          </button>
          }
        </div>
      </div>
      }
    </ul>
  </nav>
</header>