<header
  #headerElement
  class="transition-colors duration-300 z-[999] sticky top-0 left-0 w-full flex items-center justify-between gap-2 px-app-secondary-padding xl:px-app-primary-padding min-h-[100px]"
>
  <div
    #progressBarElement
    class="transition-all duration-300 ease-out absolute left-0 bottom-0 h-[2px] bg-app-primay-dark"
  ></div>

  <a class="cursor-pointer min-w-[143px]" href="/">
    <div class="flex items-center gap-2">
      <img
        className=" w-8 h-8 object-contain"
        src="assets/icons/cc-logo.png"
        alt="Logo"
      />
      <span class="text-2xl font-bold text-gradient">Recrutement</span>
    </div>
  </a>

  <button
    role="button"
    class="block transition-colors duration-300 ease-in-out text-app-primay-dark hover:text-app-secondary-dark xl:hidden"
    (click)="toggleNav()"
  >
    <!-- close -->
    @if (isNavOpen) {
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-8 h-8"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18 18 6M6 6l12 12"
      />
    </svg>
    } @else {
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-8 h-8"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      />
    </svg>
    }
  </button>

  <nav
    class="overflow-auto transition-transform duration-300 ease-out bg-white absolute top-full p-app-secondary-padding left-0 h-[calc(100vh-100px)] w-full transform {{
      isNavOpen ? 'translate-y-0' : '-translate-y-[calc(100%+100px)]'
    }} xl:relative xl:translate-y-0 xl:h-auto xl:w-auto xl:bg-transparent xl:p-0 xl:overflow-visible"
  >
    <ul
      class="flex items-start gap-x-12 gap-y-8 flex-col xl:flex-row xl:items-center"
    >
      @for (linkEntry of navItems.links; track linkEntry.href){
      <li
        (click)="
          linkEntry.behaviour === 'scroll'
            ? scrollToSection(linkEntry.sectionId!)
            : null
        "
        class="cursor-pointer relative text-gray-600 hover:text-purple-600 font-medium text-lg transition-colors duration-300 ease-in-out has-[.link-active]:text-app-secondary-dark"
      >
        {{ linkEntry.name }}
      </li>
      } @for(buttonEntry of navItems.buttons;track buttonEntry){
      <div
        class="flex items-start gap-x-8 gap-y-8 flex-col sm:flex-row xl:items-center xl:gap-x-12"
      >
        <li class="text-sm">
          <a
            [href]="buttonEntry.href"
            class="block cursor-pointer text-center bg-app-primary-purple text-white px-6 py-2 rounded-full hover:bg-purple-700 transition-all transform hover:scale-105 transition-colors ease-out duration-300 relative w-full tracking-[1.25px] px-[2em] py-[0.5em] rounded-[10px] font-medium text-inherit text-[#fff] z-10 group bg-app-primay-dark hover:bg-app-secondary-dark"
            >{{ buttonEntry.name }}</a
          >
        </li>
      </div>
      }
    </ul>
  </nav>
</header>
