<div class="max-w-6xl md:mx-auto mx-0 px-6 py-8 bg-gray-50">
  <div class="space-y-8">
    <!-- Company Information -->
    <div class="bg-white p-8 rounded-xl shadow-sm">
      <h1
        class="text-3xl font-bold custom-650:flex custom-650:text-center text-purple-600 mb-6"
      >
        {{ "LEGAL_NOTICE.TITLE" | translate }}
      </h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="space-y-3">
          <p>
            <span class="font-bold"
              >{{ "LEGAL_NOTICE.FIELDS.COMPANY_NAME" | translate }}:</span
            >
            HIBA GHACHI
          </p>
          <p>
            <span class="font-bold"
              >{{ "LEGAL_NOTICE.FIELDS.LEGAL_FORM" | translate }}:</span
            >
            {{ "LEGAL_NOTICE.FIELDS.ENTREPRENEUR" | translate }}
          </p>
          <p>
            <span class="font-bold"
              >{{ "LEGAL_NOTICE.FIELDS.CITY" | translate }}:</span
            >
            INEZGANE (Boulevard Ben Mahfoud Al Yaacoubi)
          </p>
          <p><span class="font-bold">{{'LEGAL_NOTICE.FIELDS.TAX_IDENT_NUMBER' | translate}}:</span> 66261201</p>
          <p><span class="font-bold">{{'LEGAL_NOTICE.FIELDS.PROF_TAX_NUMBER' | translate}}:</span> 49309200</p>
<!--           
          <p>
            <span class="font-bold"
              >{{ "LEGAL_NOTICE.FIELDS.VAT_NUMBER" | translate }}:</span
            >
            FR70830009296
          </p>
          <p>
            <span class="font-bold"
              >{{ "LEGAL_NOTICE.FIELDS.REGISTRY" | translate }}:</span
            >
            RCS Nanterre
          </p>
        </div>
        <div class="space-y-3">
          <p>
            <span class="font-bold"
              >{{ "LEGAL_NOTICE.FIELDS.NAF_CODE" | translate }}:</span
            >
            8220Z
          </p>
          <p>
            <span class="font-bold"
              >{{ "LEGAL_NOTICE.FIELDS.LEGAL_FORM" | translate }}:</span
            >
            {{ "LEGAL_NOTICE.FIELDS.ENTREPRENEUR" | translate }}
          </p>

          <p>
            <span class="font-bold"
              >{{ "LEGAL_NOTICE.FIELDS.REGISTRATION_DATE" | translate }}:</span
            >
            31/05/2017
          </p>
          <p>
            <span class="font-bold"
              >{{ "LEGAL_NOTICE.FIELDS.CITY" | translate }}:</span
            >
             Clichy (Hauts-de-Seine) 
            Boulevard Ben mahfoud Al Yaacoubi
          </p> -->
        </div>
      </div>
    </div>
  </div>
</div>
