<div class="max-w-6xl md:mx-auto mx-0 px-6 py-8 bg-gray-50">
  <div class="space-y-8">
    <!-- Company Information -->
    <div class="bg-white p-8 rounded-xl shadow-sm">
      <h1
        class="text-3xl font-bold custom-650:flex custom-650:text-center text-purple-600 mb-6"
      >
        Informations de l'entreprise
      </h1>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="space-y-3">
          <p><span class="font-medium">Raison sociale:</span> OUBERNI LOUBNA</p>
          <p><span class="font-medium">Numéro Siren:</span> 830009296</p>
          <p><span class="font-medium">Numéro Siret:</span> 83000929600021</p>
          <p>
            <span class="font-medium">TVA intracommunautaire:</span>
            FR70830009296
          </p>
          <p><span class="font-medium">Greffe:</span> RCS Nanterre</p>
        </div>
        <div class="space-y-3">
          <p><span class="font-medium">Code NAF / APE:</span> 8220Z</p>
          <p>
            <span class="font-medium">Forme juridique:</span> Entrepreneur
            individuel
          </p>
          <p>
            <span class="font-medium">Date d'immatriculation:</span> 31/05/2017
          </p>
          <p>
            <span class="font-medium">Commune d'implantation:</span> Clichy
            (Hauts-de-Seine)
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
