<div class="relative w-full">
  @if (label(); as label) {
  <label class="block text-sm font-medium">
    {{ label }} <span class="text-red-600" *ngIf="required">*</span>
  </label>
  }
  <div class="mt-1">
    <!-- Input field for country selection with flag -->
    <div
      [class]="className()"
      class="w-full p-3 border border-solid border-white flex justify-between items-center cursor-pointer"
      (click)="toggleDropdown()"
    >
      <div class="flex items-center space-x-3">
        <img [src]="selectedCountry.flag" class="w-6 h-6 rounded-md" />
        <span>{{ selectedCountry.name }}</span>
      </div>
      <svg
        class="w-5 h-5 text-gray-500"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        ></path>
      </svg>
    </div>
    <!-- Dropdown menu for countries -->
    <div
      *ngIf="isOpen"
      [class]="className()"
      class="absolute z-50 w-full shadow-lg rounded-md mt-2"
    >
      <ul class="max-h-60 overflow-y-auto rounded-md">
        <li
          *ngFor="let country of countries"
          (click)="selectCountry(country)"
          class="flex items-center justify-between p-3 hover:bg-[#786dce1e] cursor-pointer rounded-md"
        >
          <div class="flex items-center space-x-3">
            <img [src]="country.flag" class="w-6 h-6 rounded-md" />
            <span>{{ country.name }}</span>
          </div>
          <span class="text-gray-500">{{ country.code }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
