<section class="h-[400px] relative sm:h-[800px]">
  <!-- overlay -->
  <div
    class="w-full h-full top-0 left-0 bg-[rgb(213_217_254/30%)] absolute"
  ></div>
  <img
    src="assets/images/shaking-hands-cover-image.jpg"
    alt="Shaking hands image"
    width="1441"
    height="595"
    class="object-cover w-full h-full"
  />
  <div
    class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 max-w-[700px] text-white z-10 text-center"
  >
    <h1
      class="font-bold text-center text-2xl leading-[32px] sm:text-3xl lg:text-4xl lg:leading-[48px] xl:leading-[67px] xl:text-5xl"
    >
      Rejoignez la Révolution de la Gestion d'Entreprise
    </h1>
    <p
      class="font-medium text-center mt-4 text-lg leading-6 lg:leading-[36px] lg:text-[26px] lg:mt-6"
    >
      Prenez un rendez- vous
    </p>
    <a
      routerLink="/register"
      class="block bg-white w-fit mx-auto text-sm rounded-xl text-app-primay-dark mt-6 px-12 py-2 ms:text-lg lg:mt-12 lg:py-3 lg:px-16"
    >
      Essai gratuit
    </a>
  </div>
</section>
