<section class="p-app-secondary-padding xl:p-app-primary-padding">
  <h1
    class="text-app-primay-dark text-2xl leading-[42px] font-bold sm:leading-[52px] sm:text-3xl lg:leading-[62px] lg:text-4xl lg:text-center lg:max-w-[500px] lg:mx-auto"
  >
    Une tarification adaptée à la taille de votre entreprise
  </h1>
  <div class="w-fit mx-auto relative pt-20 pb-12 lg:pt-28 lg:pb-36">
    <app-switcher-component
      [switches]="subscriptionDurations"
      (selectedEvent)="changeSubscriptionDuration($event)"
      [selected]="selectedsubscriptionDuration"
    />

    <div
      class="z-10 bg-[rgba(227,49,94,1)] p-2 absolute top-4 text-white text-sm font-normal rounded-lg transform sm:translate-x-[70%] lg:top-14 lg:right-0"
      style="
        box-shadow:
          0px 10px 20px -2px rgba(0, 0, 0, 0.1),
          0px 2px 15px -3px rgba(0, 0, 0, 0.16);
      "
    >
      Economiser jusqu'à {{ savePercent }}%

      <span
        class="absolute top-1/2 transform scale-x-[-1] -translate-y-1/4 right-0 translate-x-full lg:translate-x-0 lg:right-full lg:scale-x-100"
      >
        <svg
          width="59"
          height="32"
          viewBox="0 0 59 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.95809 32L9.16561 23.6259L0.809604 25.9012L6.95809 32ZM58.5187 1.77239C50.0919 -0.334286 35.8652 -0.573229 24.1235 2.73396C18.2497 4.38841 12.9223 6.95096 9.26013 10.6826C5.56981 14.443 3.6035 19.3614 4.44164 25.5883L5.92823 25.3882C5.15439 19.639 6.95106 15.1771 10.3307 11.7333C13.7385 8.26075 18.7881 5.79513 24.5302 4.17778C36.0205 0.941375 49.9817 1.18432 58.1549 3.2276L58.5187 1.77239Z"
            fill="black"
          />
        </svg>
      </span>
    </div>
  </div>

  <!-- big screens plans -->
  <div class="bg-white rounded-3xl hidden lg:block">
    <ul class="flex">
      @for (plan of plans; track plan.id) {
        <li
          class="plan-item rounded-3xl p-8 flex-1 flex flex-col gap-8 transition-all duration-300 ease-out transform translate-y-0"
          [class.active]="plan.isPopular && !isOtherCardHovered"
          (mouseenter)="onHover()"
          (mouseleave)="onMouseLease()"
        >
          <div class="flex items-center justify-between gap-4">
            <h3
              class="plan-item--name text-3xl font-bold capitalize text-app-primay-dark transition-all duration-300 ease-out"
            >
              {{ plan.name }}
            </h3>
            @if (plan.isPopular) {
              <span
                class="font-medium text-white bg-[rgba(227,49,94,1)] rounded-3xl py-2 px-8 text-[10px] leading-4 tracking-[1px]"
                >Plus populaire</span
              >
            }
          </div>
          <p
            class="plan-item--price text-[rgba(132,129,153,1)] font-normal text-lg transition-all duration-300 ease-out"
          >
            <span
              class="plan-item--price-number text-3xl font-bold capitalize text-app-primay-dark transition-all duration-300 ease-out"
              >{{ plan.price ? getPrice(plan.price) + " MAD" : "- - -" }}</span
            >
            /{{ selectedsubscriptionDuration === "mensuel" ? "mois" : "ans" }}
          </p>
          <p
            class="plan-item--description text-[rgba(132,129,153,1)] font-medium text-[15px] leading-6 transition-all duration-300 ease-out"
          >
            {{ plan.description }}
          </p>
          <ul class="flex flex-col gap-4 w-full">
            @for (feat of plan.features; track feat.id) {
              <li class="flex items-center gap-4">
                <span
                  class="plan-item--feature flex transition-all duration-300 ease-out items-center justify-center w-[21px] h-[21px] rounded-full bg-[rgba(82,67,194,0.1037)] text-app-secondary-dark"
                >
                  <svg
                    width="14"
                    height="11"
                    viewBox="0 0 14 11"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="transition-all duration-300 ease-out"
                  >
                    <path
                      d="M13.12 2.17514L6.95754 10.3587C6.81058 10.5495 6.59142 10.6745 6.34933 10.7057C6.10724 10.7368 5.86251 10.6715 5.67014 10.5243L1.26954 7.08138C0.88122 6.77728 0.818341 6.22271 1.1291 5.84271C1.43986 5.46271 2.00658 5.40118 2.3949 5.70527L6.06446 8.57819L11.6705 1.13293C11.8544 0.862985 12.1749 0.713739 12.5049 0.744446C12.8349 0.775153 13.121 0.980844 13.2496 1.27986C13.3781 1.57887 13.3283 1.92281 13.12 2.17514Z"
                      fill="currentColor"
                    />
                  </svg>
                </span>
                <p
                  class="plan-item--feature-name transition-all duration-300 ease-out text-[rgba(132,129,153,1)] font-medium text-[15px] leading-6"
                >
                  {{ feat.name }}
                </p>
              </li>
            }
          </ul>
          <button
            class="plan-item--button transition-all duration-300 ease-out w-full bg-[rgba(82,67,194,0.1)] rounded-3xl py-4 text-app-secondary-dark font-bold text-[15px]"
          >
            Choisir ce forfait
          </button>
        </li>
      }
    </ul>
  </div>
  <!-- small screens plans -->
  <div class="block lg:hidden">
    <ul class="grid grid-cols-2 w-full gap-x-4 gap-y-12 max-w-[400px] mx-auto">
      @for (plan of plans; track plan.id) {
        <li
          class="relative flex flex-col gap-2 items-center p-4 rounded-2xl text-app-primay-dark cursor-pointer {{
            selectedPlan()?.id === plan.id
              ? 'bg-app-secondary-dark text-white'
              : 'bg-white text-app-primay-dark'
          }}"
          (click)="planClickHandler(plan)"
        >
          @if (plan.isPopular) {
            <span
              class="top-0 transform -translate-y-[65%] left-0 absolute w-full text-center p-2 rounded-tl-2xl rounded-tr-2xl font-medium text-white bg-[rgba(227,49,94,1)] leading-4 tracking-[1px] text-[10px]"
            >
              Plus populaire
            </span>
          }
          <h4 class="font-bold text-[0.875rem] capitalize">{{ plan.name }}</h4>
          <p>
            <span
              class="plan-item--price-number text-lg font-medium capitalize"
              >{{ plan.price ? getPrice(plan.price) + " MAD" : "- - -" }}</span
            >
            <span
              class="font-normal text-sm {{
                selectedPlan()?.id === plan.id
                  ? 'text-white'
                  : 'text-[rgba(132,129,153,1)]'
              }}"
              >/{{
                selectedsubscriptionDuration === "mensuel" ? "mois" : "ans"
              }}</span
            >
          </p>
          <div class="w-full">
            <div
              class="bg-white w-[18px] h-[18px] rounded-full border border-solid border-app-primay-dark flex items-center justify-center ml-auto"
            >
              @if (selectedPlan()?.id === plan.id) {
                <span>
                  <svg
                    width="12"
                    height="12"
                    viewBox="0 0 12 12"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M11.7489 1.7634C12.0837 2.11492 12.0837 2.6858 11.7489 3.03732L4.89253 10.2365C4.55775 10.588 4.01406 10.588 3.67928 10.2365L0.251088 6.63692C-0.083696 6.28539 -0.083696 5.71452 0.251088 5.363C0.585872 5.01147 1.12956 5.01147 1.46435 5.363L4.28724 8.32423L10.5383 1.7634C10.8731 1.41188 11.4168 1.41188 11.7516 1.7634H11.7489Z"
                      fill="#5243C2"
                    />
                  </svg>
                </span>
              }
            </div>
          </div>
        </li>
      }
    </ul>
    @if (selectedPlan() !== undefined) {
      <ul class="flex flex-col gap-y-6 mt-12">
        @for (feat of selectedPlan()?.features; track feat.id) {
          <li
            class="mobile-plan-item--feature bg-white py-2 px-4 rounded-lg text-app-primay-dark flex items-center justify-between gap-4 text-sm font-medium"
            style="--item-index: {{ $index }}"
          >
            {{ feat.name }}
            <svg
              width="14"
              height="11"
              viewBox="0 0 14 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="transition-all duration-300 ease-out"
            >
              <path
                d="M13.12 2.17514L6.95754 10.3587C6.81058 10.5495 6.59142 10.6745 6.34933 10.7057C6.10724 10.7368 5.86251 10.6715 5.67014 10.5243L1.26954 7.08138C0.88122 6.77728 0.818341 6.22271 1.1291 5.84271C1.43986 5.46271 2.00658 5.40118 2.3949 5.70527L6.06446 8.57819L11.6705 1.13293C11.8544 0.862985 12.1749 0.713739 12.5049 0.744446C12.8349 0.775153 13.121 0.980844 13.2496 1.27986C13.3781 1.57887 13.3283 1.92281 13.12 2.17514Z"
                fill="currentColor"
              />
            </svg>
          </li>
          @if ($index + 1 === selectedPlan()?.features?.length) {
            <li>
              <button
                class="mobile-plan-item--feature w-fit bg-[rgba(82,67,194,0.1)] block mx-auto rounded-3xl py-2 px-4 text-app-secondary-dark font-bold text-[15px] mt-4"
                style="--item-index: {{ $index + 1 }}"
              >
                Choisir ce forfait
              </button>
            </li>
          }
        }
      </ul>
    }
  </div>
</section>
