.animate-arrow {
    animation: danceArrow 2s ease-in-out infinite;
  }

  @keyframes danceArrow {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-6px);
    }
    75% {
      transform: translateX(6px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  .animate-arrow:hover {
    animation: none;
    transform: translateX(0); 
  }

  /* job-offer-section.component.css */
.job-offer {
  opacity: 0;
}

@keyframes showUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.show-up-animation {
  animation: showUp 1s ease-out forwards;
  animation-delay: calc(var(--item-index) * 1s);
}